@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Speedee';
  src: url('/Fonts/Speedee-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  letter-spacing: -0.15px;
  font-size: 1pc;
  font-family: Speedee;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 18px;
}

.modal_container h1 {
  font-size: 16px;
  margin: 0;
  line-height: unset;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.main_page h2 {
  font-weight: normal;
  line-height: normal;
}

.delivery_page h2 {
  font-weight: normal;
  line-height: normal;
}

footer h2 {
  font-size: 1pc;
}

h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

@media (width <= 1170px) {
  h1 {
    font-size: 36px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
    line-height: 2pc;
  }

  h3 {
    font-size: 28px;
    line-height: 2pc;
  }
}

.custom-arrow-button::after {
  content: '>';
  @apply text-4xl;
}

.partner_list_item {
  border: 1px solid #959595;
  max-height: 64px;
}

.partner_list_item:hover .custom-arrow-button {
  @apply animate-bounceRight;
}

.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgba(45, 45, 45, 0.5);
  z-index: 1000;
}

.modal_links_container {
  width: 375px;
  margin: 0 auto 0;
  padding-top: 50px;
  padding-bottom: 2.5rem;
}

.btn_close_modal::after,
.btn_close_modal::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1.5px;
  background-color: black;
  transform-origin: center;
}

.btn_close_modal {
  width: 24px;
  height: 24px;
}

.btn_close_modal::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn_close_modal::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.bg_modal_shadow {
  -webkit-box-shadow:
    0 0.125rem 1rem 0 rgba(0, 0, 0, 0.08),
    0 1.3125rem 1.9375rem 0 rgba(0, 0, 0, 0.5);
  box-shadow:
    0 0.125rem 1rem 0 rgba(0, 0, 0, 0.08),
    0 1.3125rem 1.9375rem 0 rgba(0, 0, 0, 0.5);
}

.mobile_nav hr {
  margin-top: 27px;
  margin-bottom: 27px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile_nav .mobile_geo_location {
  color: #d90007;
}

.mobile_nav .view_full_menu {
  min-width: 2in;
  font-size: 14px;
  line-height: 20px;
  color: #292929;
  text-decoration: none;
  position: relative;
  border: 1px solid #adadad;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 1.5px 1.5px 0;
  box-shadow: 0 1.5px 1.5px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.1875rem;
  padding: 13px 25px;
  text-align: center;
  display: inline-block;
  max-width: 192px;
}

.nav_movile_menu_cross {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}

.nav_movile_menu_cross::after,
.nav_movile_menu_cross::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1.5px;
  background-color: black;
  transform-origin: center;
}

.nav_movile_menu_cross::before {
  transform: translate(-50%, 0%) rotate(90deg);
}

.nav_movile_menu_cross::after {
  transform: translate(-50%, 0%);
}

footer picture {
  cursor: pointer;
}

.footer_links {
  cursor: pointer;
}

.footer_links li {
  margin-bottom: 6px;
}

.footer_links_buttom li {
  cursor: pointer;
  margin-bottom: 18px;
  margin-right: 40px;
}

.mobile_footer_links li {
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 17px;
}

.mobile_footer_links_buttom li {
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 18px;
}

.navbar_bottom_links span {
  cursor: pointer;
}

.navbar_bottom_links .active {
  font-weight: bolder;
}

.highlight {
  border-bottom: 5px solid #d90007;
}

a.not_active {
  border-bottom: unset;
}

.menu_modal {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow:
    0 0.0625rem 0.5rem 0 rgba(0, 0, 0, 0.04),
    0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.04);
}

.delivery_page_card {
  border: 1px solid #cecece;
  border-radius: 0.25rem;
  box-shadow: 0 0.09375rem 0.09375rem 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.delivery_page_card img {
  object-fit: cover;
}
